.Letra1 {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #0066FF;
	text-transform: capitalize;
}
.Letra2 {
	font-family: Verdana;
	font-size: 11px;
	color: #FF0000;
	text-transform: capitalize;
}
.Letra3 {
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #00CC33;
	text-transform: capitalize;
}
.Letra4 {
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #006600;
	text-transform: capitalize;
}
.Letra5 {
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-transform: capitalize;
}
.Letra6 {
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #FFF;
	text-transform: capitalize;
}
.Letra7 {
	font-family: Verdana;
	font-size: 12px;
	color: #000;
}
.Letra8 {
	font-family: Verdana;
	font-size: 14px;
	color: #000;
}
.Letra9 {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	color:#666;
}
.Letra10 {
	font-family: Verdana;
	font-size: 11px;
	color: #FF0000;
	text-transform: capitalize;
}
.Letra11 {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #090;
	text-transform: capitalize;
}
.Letra12 {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #000;
	text-transform: capitalize;
}
.Letra13 {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #F00;
	text-transform: capitalize;
}
.Letra14 {
	font-family: Verdana;
	font-size: 12px;
	color: #F00;
}
.Letra15 {
	font-family: Arial;
	font-size: 8px;
	font-weight: normal;
	color: #999;
	text-transform: capitalize;
}